.recent-documents-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.recent-documents-title {
    @apply text-[24px] font-bold mb-4;
}

.recent-documents-card {
    @apply w-full h-full py-8 px-6 bg-white rounded-md flex flex-col gap-4 items-center;
    border: 1px solid #d0d2d6;
}